@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --brand_color: #295e94;
  font-family: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* ============================================== */
/* header section */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em 5%;
  align-items: center;
}

.brand-content {
  margin-left: -4em;
}

.menu {
  position: absolute;
  top: 85px;
  left: 0;

  width: 100vw;
  height: 0;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(
    169deg,
    rgba(41, 94, 148, 1) 55%,
    rgba(188, 0, 255, 1) 95%
  );
  transition: 300ms;
}

.noscroll {
  overflow: hidden;
}

.display_menu {
  height: 100vh;
  transition: 300ms;
}

.menu-item {
  display: block;
  text-decoration: none;
  color: white;
  margin: 2em 0;
}

.brand-logo {
  width: 15em;
}

#mobile_menu_btn {
  cursor: pointer;
  background: none;
}

@media (min-width: 768px) {
  #mobile_menu_btn {
    display: none;
  }

  .menu {
    display: block;
    position: static;
    height: fit-content;
    width: fit-content;
    text-align: none;
    background: none;
    padding: 10px 0;
  }

  .menu-item {
    display: inline;
    margin: 0;
    color: black;
    transition: 300ms;
  }
  .menu-item:hover {
    color: var(--brand_color);
    transition: 300ms;
  }

  .menu-item + .menu-item {
    margin-left: 10px;
  }
  #contact_us {
    border: 1px solid var(--brand_color);
    background-color: var(--brand_color);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    transition: 300ms;
  }
  #contact_us:hover {
    background-color: white;
    color: var(--brand_color);
    transition: 300ms;
  }

  #contact_us:hover {
  }
}

/* ============================================== */

/* ============================================== */

/* hero section */
.hero {
  text-align: center;
}
.hero--heading {
  font-size: 2rem;
  margin-top: 2em;
  margin-bottom: 10px;
}
.hero--sub_heading {
  font-weight: 500;
  font-size: 1.25rem;
}
.hero--avatar {
  display: block;
  width: 50%;
  max-width: 150px;
  margin: 5em auto;
}
.hero--devices_img {
  width: 90%;
  max-width: 800px;
  margin-bottom: -5px;
}
/* ============================================== */

/* ============================================== */
/* about us styling */
.about_us {
  background-color: #295e94;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  min-height: 60vh;
  flex-direction: column;
  color: white;
  padding: 5%;
  padding-bottom: 20%;
}
.about_us--content {
  max-width: 800px;
}
/* ============================================== */

/* ============================================== */
/* services styling */
.services {
  margin-top: -20%;
  padding: 3em 5%;
}
.service_card {
  background-color: white;
  box-shadow: 2px 2px 5px 1px gray;
  padding: 2em 5%;
  text-align: center;
}
.service_logo {
  width: 20%;
  max-width: 100px;
  border: 1p solid blue;
  margin: 0 auto;
}
.service_card--heading {
  margin: 1em 0;
}
.service_card--description {
  margin: 1em 0;
}

@media (min-width: 700px) {
  .services {
    display: flex;
  }
}
/* ============================================== */

/* ============================================== */
/* work section */

.projects {
  text-align: center;
  padding: 0 5%;
}

.project-container {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  grid-gap: 20px; /* Spacing between the cards */
}

.project-card {
  background-color: grey;
  border-radius: 0.7em;
  height: 200px;
}
@media (max-width: 1024px) {
  .project-container {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Switch to 2 columns on medium screens */
  }
}

@media (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr; /* Switch to 1 column on small screens */
  }
}

/* ============================================== */

/* ============================================== */
/* collaborations section */
.collaborations {
  margin: 10em 0;
  text-align: center;
  padding: 20px;
}

.collaborations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5em;

  .collaborations-card {
    background-color: grey;
    border-radius: 0.7em;
    width: 30em;
    height: 17em;
  }
}

/* ============================================== */

/* ============================================== */
/* service section */

/* ============================================== */
